# Configuración de VPCS – Práctica P1
# Diomedes Mateo Alvarez – 20250873
# Copiar cada bloque en la PC correspondiente dentro de GNS3.

# --- ADMIN ---
set pcname ADMIN
ip 192.168.10.10/24 192.168.10.1
save

# --- USER ---
set pcname USER
ip 192.168.10.20/24 192.168.10.1
save

# --- DB ---
set pcname DB
ip 192.168.10.30/24 192.168.10.1
save

# --- WEB ---
set pcname WEB
ip 10.0.0.20/24 10.0.0.1
save
